In [57]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MinMaxScaler
import keras

In [58]:
red_wine_csv = os.path.join("..", "..", "datasets", "winequality-red.csv")
red_wine_df = pd.read_csv(red_wine_csv, delimiter=";")
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [59]:
red_wine_df['quality'] = red_wine_df['quality'].map({1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9'})

In [60]:
red_wine_df = pd.get_dummies(red_wine_df, prefix='', prefix_sep='')
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,3,4,5,6,7,8
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0,0,1,0,0,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0,0,1,0,0,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0,0,1,0,0,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0,0,0,1,0,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0,0,1,0,0,0

In [61]:
train_dataset = red_wine_df.sample(frac=0.8,random_state=0)
test_dataset = red_wine_df.drop(train_dataset.index)

In [63]:
train_stats = train_dataset.describe()
# train_stats.pop("MPG")
# train_stats = train_stats.transpose()
train_stats

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,3,4,5,6,7,8
count,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000,1279.000000
mean,8.310164,0.525571,0.271618,2.516341,0.087347,15.868647,46.488663,0.996739,3.312588,0.655012,10.436317,0.007819,0.031274,0.429242,0.401095,0.118061,0.012510
std,1.744190,0.176645,0.196822,1.300985,0.045666,10.438880,32.952841,0.001888,0.153923,0.160192,1.084177,0.088111,0.174127,0.495162,0.490312,0.322807,0.111189
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.870000,0.330000,8.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.100000,0.390000,0.090000,1.900000,0.071000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996760,3.310000,0.620000,10.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.250000,0.635000,0.430000,2.600000,0.091000,21.000000,62.000000,0.997855,3.400000,0.730000,11.100000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,15.900000,1.580000,0.790000,13.900000,0.611000,72.000000,289.000000,1.003200,4.010000,1.980000,14.900000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000