In [358]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import keras

In [359]:
red_wine_csv = os.path.join("..", "..", "datasets", "winequality-red.csv")
red_wine_df = pd.read_csv(red_wine_csv, delimiter=";")
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [360]:
X = red_wine_df.drop('quality', axis=1)
feature_names = X.columns
y = red_wine_df['quality'].values.reshape(-1,1)
y.shape

(1599, 1)

In [361]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1443)

from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler(feature_range=(0, 1)).fit(X_train)
y_scaler = MinMaxScaler(feature_range=(0, 1)).fit(y_train)

In [362]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [363]:
from tensorflow.keras.utils import to_categorical
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [364]:
from tensorflow.keras.models import Sequential
model = Sequential()

In [365]:
from tensorflow.keras.layers import Dense
number_inputs = 11
number_hidden_nodes = 1
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))

In [366]:
number_classes = 1
model.add(Dense(units=number_classes, activation='softmax'))

In [367]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_35 (Dense)             (None, 1)                 12
_________________________________________________________________
dense_36 (Dense)             (None, 1)                 2
=================================================================
Total params: 14
Trainable params: 14
Non-trainable params: 0
_________________________________________________________________

In [368]:
model.compile(optimizer='adam',
              loss='mse',
              metrics=['accuracy'])

In [369]:
# red_wine_df['quality'] = red_wine_df['quality'].map({1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9'})

In [370]:
# red_wine_df = pd.get_dummies(red_wine_df, prefix='', prefix_sep='')
# red_wine_df.head()

In [371]:
# train_df = red_wine_df.sample(frac=0.8,random_state=0)
# test_df = red_wine_df.drop(train_df.index)