In [212]:
from numpy.random import seed
seed(1996)

In [213]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import keras

In [214]:
wht_wine_csv = os.path.join("..", "..", "datasets", "winequality-white.csv")
wht_wine_df = pd.read_csv(wht_wine_csv, delimiter=";")
wht_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [215]:
X = wht_wine_df.drop('quality', axis=1)
feature_names = X.columns
y = wht_wine_df['quality'].values.reshape(-1,1)
y.shape

(4898, 1)

In [216]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler(feature_range=(0, 1)).fit(X_train)
y_scaler = MinMaxScaler(feature_range=(0, 1)).fit(y_train)

In [217]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [218]:
from tensorflow.keras.utils import to_categorical
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical.shape

(3673, 10)

In [219]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [220]:
from tensorflow.keras.layers import Dense
number_inputs = 11
number_hidden_nodes = 80
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))

In [221]:
number_classes = 10
model.add(Dense(units=number_classes, activation='relu'))
model.add(Dense(units=10, activation='relu'))

In [222]:
model.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_48 (Dense)             (None, 80)                960
_________________________________________________________________
dense_49 (Dense)             (None, 10)                810
_________________________________________________________________
dense_50 (Dense)             (None, 10)                110
=================================================================
Total params: 1,880
Trainable params: 1,880
Non-trainable params: 0
_________________________________________________________________

In [223]:
model.compile(optimizer='adam',
              loss='mse',
              metrics=['accuracy'])

In [224]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=10,
    shuffle=True,
    verbose=2
)

Train on 3673 samples
Epoch 1/10
3673/3673 - 3s - loss: 0.0776 - accuracy: 0.3820
Epoch 2/10
3673/3673 - 0s - loss: 0.0673 - accuracy: 0.4922
Epoch 3/10
3673/3673 - 0s - loss: 0.0663 - accuracy: 0.5214
Epoch 4/10
3673/3673 - 0s - loss: 0.0656 - accuracy: 0.5268
Epoch 5/10
3673/3673 - 0s - loss: 0.0654 - accuracy: 0.5241
Epoch 6/10
3673/3673 - 0s - loss: 0.0650 - accuracy: 0.5276
Epoch 7/10
3673/3673 - 0s - loss: 0.0650 - accuracy: 0.5309
Epoch 8/10
3673/3673 - 0s - loss: 0.0650 - accuracy: 0.5233
Epoch 9/10
3673/3673 - 0s - loss: 0.0646 - accuracy: 0.5355
Epoch 10/10
3673/3673 - 1s - loss: 0.0644 - accuracy: 0.5363

In [225]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical,verbose=3)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 0.06708427305732455, Accuracy: 0.5012245178222656