In [ ]:
URL = 'https://missouriwine.org/allwineries'

Beautiful Soup Method

In [25]:
# import requests
# from bs4 import BeautifulSoup as BS
# page = requests.get(URL)

In [26]:
# soup = BS(page.content, 'html.parser')
# soup

Pandas Method

In [27]:
import pandas as pd

data = pd.read_html(URL)
data

[                                                    0  \
 0   7C's Winery  Location:  502 E 560th Rd  Walnut...
 1   Albon√©e Country Inn and Vineyards LLC  Locatio...
 2   Apple Creek Vineyard & Winery  Location:  1930...
 3   Augusta Winery  Location:  5601 High St  Augus...
 4   Balducci Vineyards  Location:  6601 Hwy 94 Sou...
 ..                                                ...
 61  Watertower Winery  Location:  11373 State Rt M...
 62  Wenwood Farm Winery  Location:  1132 Brick Chu...
 63  Weston Wine Company  Location:  540 Main St.  ...
 64  White Mule Winery  Location:  2087 Hwy 50  Owe...
 65  Wildlife Ridge Winery  Location:  34751 Miller...

                                                     1
 0   Adam Puchta Winery  Location:  1947 Frene Cree...
 1   Amigoni Urban Winery  Location:  1505 Genessee...
 2   Arcadian Moon Winery & Brewery  Location:  192...
 3   Backyard Vine & Wine, LLC Location:  30484 Ico...
 4   Baltimore Bend Vineyard  Location:  27150 Hwy ...
 ..                                                ...
 61  Weingarten Vineyard  Location:  12323 Rottler ...
 62  West Winery  Location:  107 Vine St  Macon, MO...
 63  Westphalia Vineyards  Location:  106 East Main...
 64  Wild Sun Winery Location:  4830 Pioneer Rd  Hi...
 65  Windy Wine Company  Location:  9478 SW State R...

 [66 rows x 2 columns]]

In [39]:
type(data)

list

In [41]:
df = pd.DataFrame(data)
df

                                                   0
0                                                ...

In [42]:
# PLAN OF ATTACK
# Create dataset from mo wineries web scrap with the following columns
# Columns: Winery Name, Street Address, City, State, Zipcode, Lat & Long. ("Will need to convert street address into lat & long coordinates")
# Tableau will only plot city and state by use of zipcode BUT if two or more records share the same zipcode NOTHING will be plotted.
# Exact lat & long coordinates are preferable